<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OsuDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OsuDesktop.Properties.Settings>
            <setting name="Style" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Ranked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoveState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Graveyard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pending" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Qualified" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SupportMode" serializeAs="String">
                <value>False</value>
            </setting>
        </OsuDesktop.Properties.Settings>
    </userSettings>
</configuration>